<%- include("partials/header"); -%>
<div class="button-class" >
    <a href="/details"><button class="block">Customers Details</button></a>

  </div>
  <div class="button-class">
    <a href="/transaction"><button class="block"> Transaction</button></a>
  </div>
  <div class="button-class">
    <a href="/trns-hist">><button class="block">Transaction History</button></a>
  </div>
  <div>
    <a href="/about">><button class="block">About</button></a>
  </div>


<%- include("partials/footer"); -%>
